:root{
    --main-bg:#F8F9FD;
    --main-color:#E99C2E;
    --text-color-1:#5F5B57;
    --text-color-2:#998D80;
    --text-color-3:#A09E9C;
    --text-size-1:30px;
    --text-size-2:18px;
    --text-size-3:16px;
    --text-size-4:14px;
    --text-size-5:13px;
    --title-size:48px;
    --title-size-2:24px;
    --line-cart:#33383C;
    --bg-body-6:#F8F9FD;

}
*{
    user-select: none;
}
header{
    color:white;
    display: flex;
    justify-content: center;
    padding:20px;
    font-size: 50px;
    font-weight: 700;
    border: 2px solid #6b6767;
    border-radius: 10px;
    margin-inline:10px ;
    margin-top: 10px;
    background:#333;
}
.warp{
    display:flex;
    padding:10px;
}
.top{
    padding-block :20px;
    display:flex;
    justify-content:center;
    gap:10px;
    align-items: center;
    cursor:pointer;
}
.top ion-icon{
    font-size: 25px;
    transition: .4s;
}
.top ion-icon:hover{
    transform: scale(1.3);
}
.left-side{
    color:white;
    overflow-y: scroll;
    width:20vw;
    background:#333;
    border-radius: 10px ;
    padding-inline:1%;
    height:80vh;
}
.right-side{
    width:80vw;
    height:80vh;
    overflow-y: scroll;
    background:#eee;
    margin-inline:10px;
    border-radius: 10px;
}
.menu{
    padding-left:10px;
}

.menu .menu-items{
    padding-block:20px;
    border-bottom:1px solid rgba(255, 255, 255, 0.34);
}
.menu .menu-items p{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.menu .menu-items .category{
    margin-top: 10px;
    display: none;
}
.menu .menu-items .category.active{
    display:block;
}
.menu .menu-items .category .category-items{
    padding-block:10px;
    padding-left:20px;
    cursor: pointer;
}
.menu .menu-items .category .category-items:hover{
    background-color: #6b6767;
}
.menu .menu-items .category .category-items:active{
    opacity: .6;
}
.menu input.menu-items{
    background:white;
    border-radius: 10px;
    color:#333;
    margin-left: -10px;
    padding:5px 20px;
    cursor: pointer;
    font-weight: 700;
    transition: .3s;
}
.menu input.menu-items:hover{
    opacity: .8;
}
.menu input.menu-items:active{
    opacity: .3;
}

.confirm-input{
    margin: 10px;
}

.body-add-category{
    display: none;
    padding:20px;
}
.body-add-category.active{
    display: block;
}
.body-add-category .group-input{
    color:black;
}
.body-add-category .group-input span{
    color:black;
    font-weight: bold;
    font-size: 16px;
}
.body-add-category .wrap-input{
    margin-top: 10px;
}
.body-add-category .wrap-input .input{
    color:#333;
    height:38px;
    width:35%;
    margin-right:10px;
    padding-left:10px;
}

.body-add-category .wrap-input .btn{
    color:white;
    background-color: #333;
    padding:7px 10px;
    font-size: 15px;
}
.body-add-category .wrap-input:nth-child(1){
    margin-bottom: 15px;
}
.select_catalog_list {
    padding-block:5px;
    padding-left:5px;
}

.detele-catalog-list{
    width:20%;
    height:38px;
    border: 1px solid #000;
    padding-left:5px;
    margin-right:10px;
}

.btn-filter{
    background:#000;
    color:white;
    padding:4.5px 10px;
    margin-left: 10px;
}

.room-input{
    display:flex;
    flex-direction: column;
}
.room-input textarea{
    width:35%;
}
.room-input span{
    margin-block:10px 5px  ;
}
.room-input .btn{
    margin-top: 20px;
    width:105;
}



.body-add-product .address-save .wrap-input{
    display:flex;
    flex-direction: column;
}
.body-add-product .address-save .wrap-input label{
    padding-block:10px;
    font-size: 12px;
}
.body-add-product .address-save{
    display:flex;
    justify-content: space-between;
}
.body-add-product .address-save .wrap-input select{
    width:100%;
}
.body-add-product .address-save .wrap-input{
    flex-basis: 30%;
}

.info-product-add{
    display: grid;
    grid-template-columns: 5fr 6fr;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.205);
}
.left-side-add.add-product{
    padding-top:30px;
}
.left-side-add{
    padding:5%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.196);
}
.left-side-add .wrap-input{
    display:flex;
    flex-direction: column;
}   
.left-side-add .wrap-input label{
    font-size: 12px;
    padding-block:10px 5px;
}
.left-side-add .wrap-input input,textarea{
    width:80%;
    padding-left:5px;
    padding-block:5px;
}
.left-side-add .btn-add-product{
    background:#333;
    color:white;
    margin-top: 10px;
    cursor: pointer;
}
.left-side-add .btn-add-product.active{
    opacity: .5;
}
.right-side-add{
    position: relative;
    box-sizing: border-box;
    padding:10%;
}
.right-side-add .preview{
    position: absolute;
    bottom:0;
    right:0 ;
    padding:5px 10px;
    color:white;
    background:#333;
    cursor: pointer;
}
.right-side-add .preview:active{
    opacity: .5;
}
.right-side-add .product-items{
    padding-bottom:20px;
    border:1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.119);
    cursor: pointer;
}
.right-side-add .product-items img {
    position: relative;
    z-index: 100;
    transition: .7s;
}
.right-side-add .product-items:hover img{
    transform: scale(1.4);
}
.right-side-add .product-items .top-product{
    height:300px;
    position: relative;
    padding:40% 30%;
    background: var(--main-bg);
    margin-bottom: 20px;
    overflow: hidden;
}

.right-side-add .product-items .top-product:hover .add-cart{
    bottom:0;
    opacity: 1;
}
.right-side-add .product-items .top-product .add-cart{
    transition: .7s;
    position: absolute;
    bottom:-35px;
    opacity: 0;
    left:0;
    background:var(--line-cart);
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    padding:8px 7%;
    z-index: 1000;
    color:white;
}
.right-side-add .product-items .top-product .add-cart .left-add,.right-add{
    display: flex;
    z-index: 100;
    gap:10px;
}
.right-side-add .product-items .top-product .add-cart .left-add:hover{
    color:#dfe6e9;
}
.right-side-add .product-items .top-product .add-cart .left-add:active{
    opacity: .5;
}
.right-side-add .product-items .top-product .texture{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#5F5B57;
    width:0;
    height:0;
    z-index:1;
    opacity: .1;
    transition: .7s;
}
.right-side-add .product-items .top-product:hover .texture{
    width:100%;
    height:100%;
}
.right-side-add .product-items .top-product .sale-ticker{
    position: absolute;
    top:4%;
    right:0;
    padding: 5px 15px;
    background:#47D93C;
    font-weight: bold;
    color:white;
}
.right-side-add .product-items .product-price{
    display:flex;
}
.right-side-add .product-items:hover .name-product{
    transition: .4s;
    color:var(--main-color);
}
.right-side-add .product-items .product-content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:15px;
}


.body-detele-product .address-save{
    margin-bottom: 30px;
    align-items: center;
    gap:2%;
}
.body-detele-product .address-save .wrap-input:first-child{
    padding-top:15px;
}
.body-detele-product .address-save .wrap-input:last-child{
    margin-top: 45px;
}
.body-detele-product .address-save .wrap-input .btn-confirm{
    background:black;
    color:white;
    width:40%;
    text-align: center;
    cursor: pointer;
    padding-block:10px;
}
.body-detele-product .address-save .wrap-input .btn-confirm:active{
    opacity: .5;
}
.list-product-select{
    padding-right:14%;
    padding-block:20px;
}
.list-product-select .items-product-select{
    margin-bottom:10px;
    padding:10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.155);
    border-radius: 10px;
    display:grid;
    background:#fcf9f9;
    grid-template-columns:1fr 1fr 1fr 4fr;
    align-items: center;
    grid-column-gap: 20px;
}
.list-product-select .items-product-select .img{
    padding:5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.101);
    border-radius: 10px;
}
.list-product-select .items-product-select .img img{
    width:40px;
}
.list-product-select .items-product-select .remove{
    display: flex;
    padding-right:5%;
    justify-content: end;
    align-items:center;
    gap:30px;
}
.list-product-select .items-product-select .remove ion-icon{
    font-size: 30px;
    cursor: pointer;
    color:var(--line-cart);
}
.list-product-select .items-product-select .remove .change{
    background:var(--text-color-1);
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    color:white;
    transition: .25s;
    border:none;
    padding:5px 10px;
}
.list-product-select .items-product-select .remove .change:hover{
    background-color: black;
}
.list-product-select .items-product-select .remove button{
    background:transparent;
    border:none;
}
.list-product-select .items-product-select .remove .update_detail{
    border:none;
    cursor: pointer;
    outline:none;
    background:var(--text-color-1);
    padding-block:5px;
    padding-inline:10px;
    color:white;
    border-radius: 10rem;
}
.list-product-select .items-product-select .remove .update_detail:hover{
    background: #000;
}
.remove .update_detail:active{
    opacity: .6;
}


.left-side-add.add-product select{
    width:80%;
}
.left-side-add.add-product .img{
    display:flex;
    flex-direction: row;
}
.left-side-add.add-product .wrap-input.size{
    width:80%;
    display:flex;
    gap:20px;
    flex-direction: row;
}
.left-side-add.add-product .wrap-input.status{
    padding-bottom:10px;
    display: flex;
    width:80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left-side-add.add-product .wrap-input.status .item-input{
    width:25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side-add.add-product .wrap-input.status .item-input label{
    font-weight: bold;
    flex-basis: 80%;
}
.left-side-add.add-product .wrap-input.status .item-input input{
    flex-basis: 20%;
}